@import './../../common/styles/sass/variables';

.wrapper {
  padding: 100px 0;
  background-color: $bgColor;

  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 730px) {
        justify-content: center;
      }
    }
  }
}
