.wrapper {
    min-height: 100vh;
    background-color: hotpink;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    background-color: gainsboro;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}