.wrapper {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.preview {
    background-color: #9f9f8e;
    height: 250px;
    width: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: bold;
}