$textColor: #c4cfde;
$bodyColor: #878e99;
$primaryColor: #ff014f;
$bgColor: #27272E;
$boxShadowPrimary: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
$titleFontFamily: "Montserrat", sans-serif;
$textFontFamily: "Poppins", sans-serif;