.wrapper {
    background-color: #f6df83;
    height: 100vh;
}

.container {
    flex-direction: column;
    justify-content: space-around;
}

.form {
    border: 1px solid;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textarea {
    min-height: 100px;
}